# Noting From Self-Study - Le Duc Anh - 18/3/2025

## Day 1

In [ ]:
ord("A") #change a single alphabey to a Decimal number

65

In [ ]:
chr(103) #take a deimal number to a certain single alphabet

'g'

In [ ]:
import statistics as stats
stats.mean([12,23,35,24])

23.5

In [ ]:
isinstance([12,23,34,24,'sádds'], list)

True

In [ ]:
isinstance([12,23,34,24,'sádds'], str) # a function that returns True if the object = the specified type

False

In [ ]:
region_dict = {
    "North America": ["Antigua and Barbuda", "Bahamas", "Barbados", "Belize", "Canada", "Costa Rica", "Cuba", "Dominica", "Dominican Republic", "El Salvador", "Grenada", "Guatemala", "Haiti", "Honduras", "Jamaica", "Mexico", "Nicaragua", "Panama", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Trinidad and Tobago", "United States"],
    "South America": ["Argentina", "Bolivia", "Brazil", "Chile", "Colombia", "Ecuador", "Guyana", "Paraguay", "Peru", "Suriname", "Uruguay", "Venezuela"],
    "Europe": ["Albania", "Andorra", "Austria", "Belarus", "Belgium", "Bosnia and Herzegovina", "Bulgaria", "Croatia", "Cyprus", "Czechia", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Iceland", "Ireland", "Italy", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg", "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "North Macedonia", "Norway", "Poland", "Portugal", "Romania", "Russia", "San Marino", "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland", "Ukraine", "United Kingdom", "Vatican City"],
    "Asia": ["Afghanistan", "Armenia", "Azerbaijan", "Bahrain", "Bangladesh", "Bhutan", "Brunei", "Cambodia", "China", "East Timor", "Georgia", "India", "Indonesia", "Iran", "Iraq", "Israel", "Japan", "Jordan", "Kazakhstan", "Kuwait", "Kyrgyzstan", "Laos", "Lebanon", "Malaysia", "Maldives", "Mongolia", "Myanmar", "Nepal", "North Korea", "Oman", "Pakistan", "Palestine", "Philippines", "Qatar", "Saudi Arabia", "Singapore", "South Korea", "Sri Lanka", "Syria", "Taiwan", "Tajikistan", "Thailand", "Turkey", "Turkmenistan", "United Arab Emirates", "Uzbekistan", "Vietnam", "Yemen"],
    "Africa": ["Algeria", "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cameroon", "Cape Verde", "Central African Republic", "Chad", "Comoros", "Congo", "Democratic Republic of Congo", "Djibouti", "Egypt", "Equatorial Guinea", "Eritrea", "Eswatini", "Ethiopia", "Gabon", "Gambia", "Ghana", "Guinea", "Guinea-Bissau", "Ivory Coast", "Kenya", "Lesotho", "Liberia", "Libya", "Madagascar", "Malawi", "Mali", "Mauritania", "Mauritius", "Morocco", "Mozambique", "Namibia", "Niger", "Nigeria", "Rwanda", "Sao Tome and Principe", "Senegal", "Seychelles", "Sierra Leone", "Somalia", "South Africa", "South Sudan", "Sudan", "Tanzania", "Togo", "Tunisia", "Uganda", "Zambia", "Zimbabwe"],
    "Oceania": ["Australia", "Fiji", "Kiribati", "Marshall Islands", "Micronesia", "Nauru", "New Zealand", "Palau", "Papua New Guinea", "Samoa", "Solomon Islands", "Tonga", "Tuvalu", "Vanuatu"]
}
Keys = region_dict.get('South America')
print(Keys) #a method .get() that returns the value of the item with the specified key
Keys = region_dict.get('ASS', 'Ain\'t got value lil bru') #the second object occurs when the specified key are not available
print(Keys)
Keys = [region_dict.get(region, 'Ain\'t got value lil bru') for i, region in enumerate(region_dict) if i<2]
print(Keys)

['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela']
Ain't got value lil bru
[['Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'United States'], ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela']]

In [ ]:
for i, region in enumerate(region_dict):
  print(region) #for a dictionary, a for loop will only take they keys, not the values
  print(region_dict[region]) #this is a way to access to the elements

North America
['Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'United States']
South America
['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela']
Europe
['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom', 'Vatican City']
Asia
['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'East Timor', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen']
Africa
['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad', 'Comoros', 'Congo', 'Democratic Republic of Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']
Oceania
['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']

In [ ]:
somth = 'ABCDEFGHIKLMNOPABDBSBASBAFBSSsssssasada'

str.maketrans('ABCs','abcD') #not only this specify the making of transitions between string elements, but can make a dictionary of a decimal number for each alphabet
#since the translate() method uses this ways to execute the replace maneuver, this is understandable
#without a certain type inside the maketrans() as a spectrum of data, and inside the() are the spectrum; it is a tool for creatinga mapping tvke tgat specify how specific
#characters in the string should be replaceed in a mass number
print(str.maketrans('ABCs','abcD'))

maketransition = str.maketrans('ABCs','abcD')
print(somth.translate(maketransition)) #with the object we aim to change -> translate() actiate the maketrans() in a str type

somth.translate(str.maketrans('ABCsD','12395'))

{65: 97, 66: 98, 67: 99, 115: 68}
abcDEFGHIKLMNOPabDbSbaSbaFbSSDDDDDaDada

'1235EFGHIKLMNOP1252S21S21F2SS99999a9ada'

In [ ]:

listing = list(range(32, 48)) + list(range(58, 65)) + list(range(91, 97)) + list(range(123, 127))
print(listing)
alphabet=[]
for i in listing:
  alphabet.append(chr(i))
''.join(alphabet)

[32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 58, 59, 60, 61, 62, 63, 64, 91, 92, 93, 94, 95, 96, 123, 124, 125, 126]

' !"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
somth = "______________________asdasdasdasd________________________________"

print(somth.rstrip("_"))
print(somth.lstrip("_"))
print(somth.strip("_"))

______________________asdasdasdasd
asdasdasdasd________________________________
asdasdasdasd

##Day 2

In [ ]:
import datetime as dt  #library datetime can be learnt again in the future

variable_date = dt.datetime(2007,8,19,11,11,11,10101)
print(variable_date)
print(variable_date.year)

2007-08-19 11:11:11.010101
2007

In [ ]:
listing = [12,12,324,23,235,'ducanh']
listing.insert(3,'anhduc') #the first element will always be number since it represents the index to be iserted
listing

[12, 12, 324, 'anhduc', 23, 235, 'ducanh']

In [ ]:
listing = [12,12,324,23,235,'ducanh']
listing.extend([12,4234,12,123]) #extend with every elements in a disgnated list
listing.append(['asdad0',234,23,23,523,2,4])#literally append nly the element inside the ()
print(listing)

[12, 12, 324, 23, 235, 'ducanh', 12, 4234, 12, 123, ['asdad0', 234, 23, 23, 523, 2, 4]]

In [ ]:
somth = 'ducanh beo beo beo beo'
print(somth.startswith("ducanh"))
print(somth.startswith('anh', 3))
print(somth.startswith('anbinh'))

True
True
False

In [ ]:
somth=somth.replace(' ','')
print(somth.isalpha())
print(somth.isalnum()) #alnum stands for alphanumeric, which is a combination of numeric and alpha bet, so no special like *&^ and stuff
print(somth.isnumeric())
print(somth.isdigit())

True
True
False
False

In [ ]:
region_dict = {
    "North America": ["Antigua and Barbuda", "Bahamas", "Barbados", "Belize", "Canada", "Costa Rica", "Cuba", "Dominica", "Dominican Republic", "El Salvador", "Grenada", "Guatemala", "Haiti", "Honduras", "Jamaica", "Mexico", "Nicaragua", "Panama", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Trinidad and Tobago", "United States"],
    "South America": ["Argentina", "Bolivia", "Brazil", "Chile", "Colombia", "Ecuador", "Guyana", "Paraguay", "Peru", "Suriname", "Uruguay", "Venezuela"],
    "Europe": ["Albania", "Andorra", "Austria", "Belarus", "Belgium", "Bosnia and Herzegovina", "Bulgaria", "Croatia", "Cyprus", "Czechia", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Iceland", "Ireland", "Italy", "Kosovo", "Latvia", "Liechtenstein", "Lithuania", "Luxembourg", "Malta", "Moldova", "Monaco", "Montenegro", "Netherlands", "North Macedonia", "Norway", "Poland", "Portugal", "Romania", "Russia", "San Marino", "Serbia", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland", "Ukraine", "United Kingdom", "Vatican City"],
    "Asia": ["Afghanistan", "Armenia", "Azerbaijan", "Bahrain", "Bangladesh", "Bhutan", "Brunei", "Cambodia", "China", "East Timor", "Georgia", "India", "Indonesia", "Iran", "Iraq", "Israel", "Japan", "Jordan", "Kazakhstan", "Kuwait", "Kyrgyzstan", "Laos", "Lebanon", "Malaysia", "Maldives", "Mongolia", "Myanmar", "Nepal", "North Korea", "Oman", "Pakistan", "Palestine", "Philippines", "Qatar", "Saudi Arabia", "Singapore", "South Korea", "Sri Lanka", "Syria", "Taiwan", "Tajikistan", "Thailand", "Turkey", "Turkmenistan", "United Arab Emirates", "Uzbekistan", "Vietnam", "Yemen"],
    "Africa": ["Algeria", "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cameroon", "Cape Verde", "Central African Republic", "Chad", "Comoros", "Congo", "Democratic Republic of Congo", "Djibouti", "Egypt", "Equatorial Guinea", "Eritrea", "Eswatini", "Ethiopia", "Gabon", "Gambia", "Ghana", "Guinea", "Guinea-Bissau", "Ivory Coast", "Kenya", "Lesotho", "Liberia", "Libya", "Madagascar", "Malawi", "Mali", "Mauritania", "Mauritius", "Morocco", "Mozambique", "Namibia", "Niger", "Nigeria", "Rwanda", "Sao Tome and Principe", "Senegal", "Seychelles", "Sierra Leone", "Somalia", "South Africa", "South Sudan", "Sudan", "Tanzania", "Togo", "Tunisia", "Uganda", "Zambia", "Zimbabwe"],
    "Oceania": ["Australia", "Fiji", "Kiribati", "Marshall Islands", "Micronesia", "Nauru", "New Zealand", "Palau", "Papua New Guinea", "Samoa", "Solomon Islands", "Tonga", "Tuvalu", "Vanuatu"]
}
region_dict['North America'] = region_dict['North America']*2
print(region_dict['North America'])
print(somth.title())

['Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'United States', 'Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'United States']
Ducanhbeobeobeobeo

In [ ]:
from ast import Add
import random
import numpy as np
n = [random.randrange(0, 50, 5) for _ in range(30)]
print(n)
set1 = set([random.randrange(0, 50, 5) for _ in range(30)])
set2 = set([random.randrange(0, 50, 5) for _ in range(30)])


print("this is set 1",set1)
print("this is set 2",set2)
set1.add(102)
print(set1)
set1.remove(102)
print(set2)
print(set1.union(set2))#from the intersection and the each of the others
print(set1.intersection(set2))#returns a set taht contains the similarity between two or more sets, basically the intersections of the two lists
print(set2.difference(set1))#methods returns a set that contains the differnces between two sets, something that contains only on the set1 not the second ones, like exclude the intersection
print(set1.issubset(set2)) #to check if the set 1 is the subset off set2 or not, which is basically if set2 contains all of the set1 elements.

[45, 35, 20, 45, 40, 40, 25, 25, 45, 45, 0, 45, 30, 15, 5, 0, 15, 15, 20, 40, 30, 15, 35, 45, 35, 40, 30, 10, 35, 40]
this is set 1 {0, 35, 5, 40, 10, 45, 15, 20, 25, 30}
this is set 2 {0, 35, 5, 40, 10, 45, 15, 20, 25, 30}
{0, 35, 5, 102, 40, 10, 45, 15, 20, 25, 30}
{0, 35, 5, 40, 10, 45, 15, 20, 25, 30}
{0, 5, 10, 15, 20, 25, 30, 35, 40, 45}
{0, 35, 5, 40, 10, 45, 15, 20, 25, 30}
set()
True

## Day 3

In [ ]:
print( dict.fromkeys(['key1','key2','key3'],[2,3,1]) )

{'key1': [2, 3, 1], 'key2': [2, 3, 1], 'key3': [2, 3, 1]}

In [ ]:
def Lambda_test(x):
  return lambda a: a*x
print(Lambda_test(2)(6) ) #lambda are literanlly arguments that contains a variable that will be given later by any means
#however in this examples, there are alone 2 types of ways to insert a variable into a lambda, one is through def, another is through certain universal methods


addten = lambda x: x+10
print(addten(5))

add = lambda x, y: x+y
print(add(5,6))

doubled = map(lambda x: x * 2, [1, 2, 3, 4])
print(list(doubled))

numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers)) #filter methods means that satisfy the specific methods, weather in lambda or in def, and the second elements
#are the variables
print(evens)


numbers = [1, 2, 3, 4, 5, 6]
evens = list(map(lambda x: round(x / 2), numbers)) #map() filters methods on the other hand
print(evens)

listofstrings = ['as asd asas da ', 'asda sdsd gdg ssg ', 'sdsd dfgf  bfg bf']
capitalizedlisofstrings = list(map(lambda x: x.capitalize(), listofstrings))
print(capitalizedlisofstrings)

listofstrings = ['as asd asas da ', 'asda sdsd gdg ssg ', 'sdsd dfgf  bfg bf']
capitalizedlisofstrings = list(map(lambda x: x.upper(), listofstrings))
capitalizedlisofstrings

12
15
11
[2, 4, 6, 8]
[2, 4, 6]
[0, 1, 2, 2, 2, 3]
['As asd asas da ', 'Asda sdsd gdg ssg ', 'Sdsd dfgf  bfg bf']

['AS ASD ASAS DA ', 'ASDA SDSD GDG SSG ', 'SDSD DFGF  BFG BF']

In [ ]:
#in fact, since the first elements represents certain functions, thus, we can also use def as a fuction
listofstrings = ['as asd asas     da ', 'asda sdsd gdg ssg ', 'sdsd dfgf  bfg bf']
def replacing_string(var): return var.replace(' ', '--')
alteratedlistofstrings = list(map(replacing_string, listofstrings))
print(alteratedlistofstrings)

['as--asd--asas----------da--', 'asda--sdsd--gdg--ssg--', 'sdsd--dfgf----bfg--bf']

In [ ]:
' asb '.join('bas')
#basically, join means to aggregate a list into a string, and in this case, 'bas' is automatically regarded as a list with each of its characters are is elements
#and the variable behind it are variables, is a string that will be inserted between the elements

listing=["Australia", "Fiji", "Kiribati", "Marshall Islands", "Micronesia", "Nauru", "New Zealand", "Palau", "Papua New Guinea", "Samoa", "Solomon Islands", "Tonga", "Tuvalu", "Vanuatu"]
print('___'.join(listing).replace(' ',''))

Australia___Fiji___Kiribati___MarshallIslands___Micronesia___Nauru___NewZealand___Palau___PapuaNewGuinea___Samoa___SolomonIslands___Tonga___Tuvalu___Vanuatu

## Day 4

In [ ]:
obj=float('inf')
neg_obj=float('-inf')
print(obj, neg_obj)

#inf stands for infinity, which means that obj is given as an amount as abstractly infinite, which can be interpreted that no value will be more than obj
#so do -inf, which is a negative infinite abstractly speaking, which can be interpreted that no value will be less than neg_obj
#these variable can be really useful in certain circumstances, especially in thier interpretations

inf -inf

In [ ]:
list1 = ['value1', 'value2', 'value3']
list2 = range(1,4)
aggregated = zip(list1,list2)
list(aggregated)

[('value1', 1), ('value2', 2), ('value3', 3)]